* {
    line-height: 2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

#main-header {
    /* background-color: rgb(128, 179, 179); */
    padding: 1em;
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: rgb(206, 215, 243);
    padding: 1em;
}

body {
    padding: 0;
    margin: 0;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav a {
    text-decoration: none;
    padding: 0.5em 1.5em 0.5em 1.5em;
    /* border: 2px solid rgb(128, 179, 179); */
}

a {
    color: rgb(28, 57, 92);
}

a:hover {
    font-weight: bold;
    font-style: italic;
}

#search-box {
    font-size: larger;
    padding: 0.5em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#search {
    width: 50%;
}

input, textarea, fieldset {
    width: 100%; /*Trying to make them all even*/
    display: flex;
    justify-content: left;
}

button {
        background-color: rgb(28, 57, 92);
        border: none;
        padding: 0.25em 2em;
        color: white;
}

main {
    width: 80%;
    margin:auto;
}

h1, h2 {
    color: rgb(28, 57, 92);
}

table {
        border-collapse: collapse;
}

th,td {
    padding: .75em 1em;
    text-align: center;
    border: 1px solid rgb(28, 57, 92);
}

th {
        background-color: rgb(206, 215, 243);
}

footer {
    padding: 2em;
    /* background-color: rgb(206, 215, 243); */
}